body {
max-width: 100%;
text-align: center;
font-family: Calibri, Tahoma, "Times New Roman";
padding: 15px;
padding-top: 5px;
}
h1 {
font-family: "Lucida calligraphy", "Lucida Blackletter", "Times New Roman";
}

#slickQuiz {
width: 1000px;
}
.quizArea {
width: 1000px;
}
.rslides img{
width: 100%;
}
.slide1 img {
width: 100%;

}
.resources p {
text-align: left;
padding-left: 10%;
padding-right: 10%;
}
.resources {
padding: 5%;

}
.slidetext {
border: 1px solid black;
margin: 10px;
width: 50%;
float: right;
}
#wrapper {
float: none;
margin-left: auto;
margin-right: auto;
display: block;
width: 80%;


}
.rslides_container {
display: inline;


}
.slides img{
border: 2px solid black;
border-radius: 5pt;
}
.slide1 img {
border: 2px solid black;
border-radius: 5pt;
}
.tooltiptext{
    display: none;   
}
.tooltiptext p {
font-size: 11pt;
line-height: 110%;

}
iframe {
border: none;
}
#video {
width: 560px;
height: 315px;
}
#video2 {
height: 500px; 
width:100%;
}
.resources a {
color: gray;
}
@media screen and (max-width: 768px)  {
#video {
width: 100%;
height: auto;
}

body {
padding-top: 100px;
}
}
